<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Image Generation Tester</title>
</head>

<body>
    <h1>Image Generation Tester</h1>

    <div id="image-preview">
        <!-- <img src="#" alt=""> -->
        <iframe src="" title="Image Preview" name="img-prv-frame"></iframe>
    </div>

    <form action="/new" method="get" target="img-prv-frame">
        <label for="img-text">Input image text</label>
        <input type="text" name="text" id="img-text">
        <input type="hidden" id="img-dl" name="dl" value="0">

        <button type="submit" id="btn-img-gen">Generate New Image</button>
    </form>

    <script>
        let t = document.getElementById("img-text");
        let b = document.getElementById("btn-img-gen");
        // b.addEventListener("click", getNewImg, false);

        async function getNewImg() {
            let params = new URLSearchParams({ text: t.value, dl: 0 });
            fetch('/new?' + params)
                .then((res) => {
                    console.log(res.status);
                    res.blob
                });
        }

        function tester(ev) {
            console.log("#### EVENT:", ev);
        }
    </script>
</body>

</html>